<div class="container-fluid Pricing py-3">
    <div class="text-center mb-4">
        <h1 class="mb-3">Flexible Pricing Plans</h1>
        <h2>We Have Pricing Plans To Suit Every Customer</h2>
    </div>
    <div class="row mb-3 text-center">
        <div class="col-lg-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">7 Days</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                         Ar5000<!-- <small class="text-muted fw-light">/mo</small> -->
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Daily Multi bets 3.0 + Odds</li>
                        <li>All Jackpots Access</li>
                        <li>Login Account</li>
                        <li>Tips via SMS Daily</li>
                        <li>7 days Access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                        JOIN NOW
                    </button>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">14 Days</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        Ar9000
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Daily Multi bets 3.0 + Odds</li>
                        <li>All Jackpots Access</li>
                        <li>Login Account</li>
                        <li>Tips via SMS Daily</li>
                        <li>14 days Access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">
                        JOIN NOW
                    </button>
                </div>
            </div>

            
        </div>

        <div class="col-lg-4">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">30 Days</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        Ar15000
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Daily Multi bets 3.0 + Odds</li>
                        <li>All Jackpots Access</li>
                        <li>Login Account</li>
                        <li>Tips via SMS Daily</li>
                        <li>30 days Access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">
                        JOIN NOW
                    </button>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mx-auto">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">90 Days</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        Ar30000
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Daily Multi bets 3.0 + Odds</li>
                        <li>All Jackpots Access</li>
                        <li>Login Account</li>
                        <li>Tips via SMS Daily</li>
                        <li>90 days Access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">
                        JOIN NOW
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>