.containerf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: lawngreen;
  height: 3rem;
}

@media screen and (max-width: 768px) {
  .item{
    flex-basis: 100%;
    text-align: center;
  }
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.item:end {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item p {
  margin: 0;
}

/* NAVBAR */
/* .navbar{
  height: 5.5rem;
} */

#top-title{
  background-color: orangered;
  height: 5rem;
  display: flex;
  align-items: center;
}

/* PRICING */
.Pricing{
  max-width: 1200px;
}

/* .card{
  max-width: 25rem;
} */

/* FREE FOOTBALL TIPS */
.day-select{
  display: flex;
  justify-content: center;
}

.day-select h3{
  font-size: large;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  /* background-color: green; */
  border: 1px solid black;
}

/* .row h3{
  font-size: large;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
} */

.tips-title div{
  border: 1px solid black;
}

.hidden {
  display: none;
}