.containerf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: lawngreen;
  height: 3rem;
}

@media screen and (max-width: 768px) {
  .item{
    flex-basis: 100%;
    text-align: center;
  }
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.item:end {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item p {
  margin: 0;
}